* {
    box-sizing: border-box;
  }

.container {
    background-color: darkgrey;
    border-radius: 15px;
    margin-top: 1%;
    margin-left: 25%;
    margin-right: 25%;
    max-width: 50%;
    padding-bottom: 1%;
    position:relative;
    min-height:95vmin;
}

h2 {
    margin-bottom: 0%;
    padding-bottom: 0%;
    display: none;
}

#messages {
    overflow:scroll; 
    max-height:50vmin;
    margin-top:2%;
    padding: 1%;
    border-radius:10px;
    background-color:whitesmoke;
}

@media only screen and (max-width: 600px) {
    .container {
        background-color: darkgrey;
        border-radius: 10px;
        margin-top: 1%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        max-width: 95%;
        padding-bottom: 1%;
  }

  #messages {
    overflow:scroll; 
    max-height:90vmin;
    margin-top:2%;
    padding: 1%;
    border-radius:10px;
    background-color:whitesmoke;
}
}